<app-shared-dialog [show]='!!error' title='Failed to authenticate' (close)='handleError()'>
    <p *ngIf="error && error !== undefined && error.message !== null">{{error.message || 'An error occurred'}}</p>
</app-shared-dialog>
<div *ngIf="selectedFreelancer">
        <app-shared-card>
            <h3>{{selectedFreelancer.firstName}} {{selectedFreelancer.lastName}}</h3>
            <h4>${{selectedFreelancer.hourlyRate}}/hour</h4>
        </app-shared-card>
        <app-shared-card>
            <app-shared-badge *ngFor="let skill of selectedFreelancer.skills" [badge]="skill" [type]="skill"></app-shared-badge>
            <h3>Information</h3>
            <p> {{selectedFreelancer.description}}</p>
        </app-shared-card>
    <div>
        <app-shared-card>
            <header>
                <h2>Interested to him/her? Reach them out!</h2>
                <app-shared-button [link]="true" [to]="'contact'">Contact</app-shared-button>
            </header>
            <!--      for contact page... -->
            <main>
                <router-outlet></router-outlet>
            </main>
        </app-shared-card>
    </div>
</div>