.badge{
    background-color: #ccc;
    color: #252525;
    margin-right: 0.5rem;
    padding: 0.5rem 1.5rem;
    display:inline-block;
    border-radius: 30px;
    cursor: pointer;
}

.frontend{
    background-color: yellowgreen;
    color: white;
}

.backend {
    background-color: cadetblue;
    color: white;
}

.devops {
    background-color: darkolivegreen;
    color: white;
}

.pm {
    background-color: darkseagreen;
    color: white;
}

.qa {
    background-color: springgreen;
    color: white;
}