form {
    margin: 1rem;
    padding: 1rem;
}
.form-control{
    margin:0.5rem 0;
}
label{
    font-weight: bold;
    display:block;
    margin-bottom:0.5rem;
}
input[type='checkbox'] + label{
    font-weight: normal;
    display:inline;
}
input,textarea{
    display:block;
    width: 100%;
    border:1px solid #ccc;
    font:inherit;
}
input:focus,
textarea:focus {
    background-color: #f0e6fd;
    outline: none;
    border-color: #3d008d;
}

input[type='checkbox']{
    display:inline;
    border:none;
    width: auto;
}
input[type='checkbox']:focus{
    outline: #3d008d solid 1px;
}

h3 {
    margin: 0.5rem 0;
    font-size: 1rem;
}

/*validity...*/
.errors {
    font-weight: 700;
    color: red;
}

div.form-control label.invalid_field {
    color: red;
    font-weight: 700;
}

div.form-control input.ng-invalid.ng-touched,
div.form-control textarea.ng-invalid.ng-touched {
    border: 1px solid red;
}
