<app-shared-dialog [show]='!!error' title='Failed to authenticate' (close)='handleError()'>
    <p *ngIf="error && error !== undefined && error.message !== null">{{error.message || 'An error occurred'}}</p>
</app-shared-dialog>
<app-shared-card>
    <header>
        <h2>Messages</h2>
    </header>
    <div>
        <ul>
            <app-proposal-item
                *ngFor="let proposal of proposals;let i = index"
                [proposal]="proposal"
                [i]="i"
            ></app-proposal-item>
        </ul>
    </div>
</app-shared-card>