header{
    text-align: center;
}
ul{
    list-style: none;
    max-width: 30rem;
    margin:2rem auto;
    padding:0;
}
h3{
    text-align: center;
}

h3.no_proposals {
    display: flex;
    justify-content: center;
}