<app-shared-dialog [show]='!!error' title='Failed to authenticate' (close)='handleError()'>
    <p *ngIf="error && error !== undefined && error.message !== null">{{error.message || 'An error occurred'}}</p>
</app-shared-dialog>
<app-shared-card>
    <header>
        <h2>Messages</h2>
    </header>
    <div>
        <div *ngIf="loaderService.isLoading | async; else notLoading">
            <app-shared-spinner></app-shared-spinner>
        </div>
        <ng-template #notLoading>
            <ul>
                <app-proposal-item
                    *ngFor="let proposal of proposals;let i = index"
                    [proposal]="proposal"
                    [i]="i"
                ></app-proposal-item>
            </ul>
        </ng-template>
        <h3 class="no_proposals" *ngIf="!hasProposals() && !(loaderService.isLoading | async)">No freelancers found!</h3>
    </div>
</app-shared-card>