header {
    background-color: #dce9ff;
    width: 100vw;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

header a {
    color: #9a98ff;
    font-weight: 700;
    font-size: 18px;
    display: inline-block;
    border: 1px solid transparent;
    padding: 0.75rem 1.5rem;
}

li a.active {
    border: 1px solid #9a98ff;
    border-radius: 5%;
}

h1 {
    margin: 0;
}

h1 a {
    color: blueviolet;
    margin: 0;
}

header nav {
    width: 90%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: auto;
}

header ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    margin: 0 0.5rem;
}