<header>
    <nav>
        <h1>
            <a routerLink="/">Freelancers Community</a>
        </h1>
        <ul>
            <li>
                <a routerLink="/freelancers" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Freelancers</a>
            </li>

            <li>
                <a routerLink="/proposals" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="isAuthenticated">Messages</a>
            </li>
            <li>
                <a routerLink="/auth" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="!isAuthenticated">Login</a>
            </li>
            <li>
                <a routerLink="/profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="isAuthenticated">Profile</a>
            </li>
            <li>
                <app-shared-button [link]="true" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="isAuthenticated" mode="square" (click)="onLogout()">Logout</app-shared-button>
            </li>
        </ul>
    </nav>
</header>