<header>
    <nav>
        <h1>
            Freelancers Community
        </h1>
        <ul>
            <li>
                <a routerLink="/freelancers">Freelancers</a>
            </li>

            <li>
                <a routerLink="/proposals">Messages</a>
            </li>
            
<!--            TODO implement Authorization buttons-->
<!--            <li>-->
<!--                <a routerLink="/auth">Login</a>-->
<!--            </li>-->
<!--            -->
<!--            <li>-->
<!--                <app-base-button (click)="onLogout()">Logout</app-base-button>-->
<!--            </li>-->
        </ul>
    </nav>
</header>