<div>
    <app-shared-card> 
        
        <app-shared-card>
            <app-freelancer-filter [activeSkills]="allSkills"></app-freelancer-filter>
        </app-shared-card>
        
        <div class="controls">
            <app-shared-button [link]="true" mode="flat" to="/auth">Join Us</app-shared-button>
            <app-shared-button [link]="true" to="/register">Register now!</app-shared-button>
        </div>
        <div>
            <ul>
                <app-freelancer-item
                    *ngFor="let freelancer of freelancers; let i = index"
                    [freelancer]="freelancer"
                    [i]="i"
                ></app-freelancer-item>
            </ul>
        </div>
       
    </app-shared-card>
   
</div>
