<form (ngSubmit)="onSubmit(formRef, emailRef, messageRef)" #formRef="ngForm">
    <div class="form-control">
        <label for='email' [ngClass]="{invalid_field: emailRef.invalid && emailRef.touched || !formIsValid && emailRef.invalid}">E-mail</label>
        <input type='email' id='email' name="email" placeholder="example@gmail.com" email required #emailRef="ngModel" [ngModel]="email">
        <p *ngIf="emailRef.invalid && emailRef.touched || !formIsValid && emailRef.invalid" class="errors">You must enter your email!</p>
    </div>
    <div class="form-control">
        <label for='message' [ngClass]="{invalid_field: messageRef.invalid && messageRef.touched || !formIsValid && messageRef.invalid }">Message</label>
        <textarea id='message' rows='5' name="message" required [ngModel]="message" minlength="20" #messageRef="ngModel"></textarea>
        <p *ngIf="messageRef.invalid && messageRef.touched || !formIsValid && messageRef.invalid" class="errors">Your message must not be empty and it should contain at least 20 characters long!</p>
    </div>
    <p class='errors' *ngIf="!formIsValid">Please fix the issues above and submit the form again!</p>
    <div class='actions'>
        <app-shared-button [link]="false" mode="square" text="Send a Message" [disabled]="formRef.invalid"></app-shared-button>
    </div>
</form>

