<form (ngSubmit)="onSubmit(formRef, firstNameRef, lastNameRef, descRef, rateRef, skillGroupRef)" #formRef="ngForm">

    <div class='form-control'>
        <label for='firstName' [ngClass]="{invalid_field: firstNameRef.invalid && firstNameRef.touched}">Firstname</label>
        <input type='text' id='firstName' [ngModel]="firstName" name="firstName" #firstNameRef="ngModel" required>
        <p *ngIf='firstNameRef.invalid && firstNameRef.touched' class="errors">Firstname must not be empty!</p>
    </div>
    <div class='form-control'>
        <label for='lastName' [ngClass]="{invalid_field: lastNameRef.invalid && lastNameRef.touched}">Lastname</label>
        <input type='text' id='lastName' [ngModel]="lastName" name="lastName" #lastNameRef="ngModel" required>
        <p *ngIf="lastNameRef.invalid && lastNameRef.touched" class="errors">Lastname must not be empty!</p>
    </div>
    <div class='form-control'>
        <label for='description' [ngClass]="{invalid_field: descRef.invalid && descRef.touched}">Description</label>
        <textarea id='description' rows='5' [ngModel]="description" name="description" #descRef="ngModel" required minlength="20"></textarea>
        <p *ngIf="descRef.invalid && descRef.touched" class="errors">Description must not be empty at must contain at least 20 characters long!</p>
    </div>
    <div class='form-control'>
        <label for='hourlyRate' [ngClass]="{invalid_field: rateRef.invalid && rateRef.touched}">Hourly rate</label>
        <input type='number' id='hourlyRate' [ngModel]="hourlyRate" name="hourlyRate" #rateRef="ngModel" required>
        <p *ngIf="rateRef.invalid && rateRef.touched" class="errors">Rate must not be empty!</p>
    </div>
    <div class='form-control' ngModelGroup="skills" #skillGroupRef="ngModelGroup" required>
        <h3>Areas of Expertise</h3>

        <div *ngFor="let skill of skills">
            <input type='checkbox' [id]='skill' ngModel [name]="skill" >
            <label [for]='skill'>{{skill | uppercase}}</label>
        </div>

        <p *ngIf="!checkboxIsValid" class="errors">Click at least one area of expertise!</p>
    </div>
    <p *ngIf="!formIsValid" class="errors">Please fix the issues above and submit the form again!</p>
    <button>Register</button>
</form>