<div *ngIf="show" (click)="tryClose()" class='backdrop'></div>
<dialog open *ngIf="show">
    <header>
        <h2>{{title}}</h2>
    </header>
    <section>
        <ng-content></ng-content>
    </section>
    <menu *ngIf="!fixed && !bothActions">
            <app-shared-button text="Close" [link]="false" (click)="tryClose()" mode="square"></app-shared-button>
    </menu>
    <menu *ngIf="!fixed && bothActions">
            <app-shared-button text="Cancel" mode="edit" (click)="tryClose()"></app-shared-button>
            <app-shared-button text="Delete" mode="delete" (click)="handleAction()"></app-shared-button>
    </menu>
</dialog>
