<div>
        <app-shared-card>
            <h3>Antoan Parashkevov</h3>
            <h4>$14/hour</h4>
        </app-shared-card>
        <app-shared-card>
<!--            <app-shared-badge *ngFor="let skill of skills" [badge]="skill"></app-shared-badge>-->
            <h3>Information about the person</h3>
            <p> simple desc</p>
        </app-shared-card>
    <div>
        <app-shared-card>
            <header>
                <h2>Interested to him/her? Reach them out!</h2>
                <app-shared-button [link]="true" [to]="'contact'">Contact</app-shared-button>
            </header>
            <!--      for contact page... -->
            <router-outlet></router-outlet>
        </app-shared-card>
    </div>
</div>