form {
    margin: 1rem;
    padding: 1rem;
}
.form-control{
    margin:0.5rem 0;
}
label{
    font-weight: bold;
    display:block;
    margin-bottom:0.5rem;
}

input{
    display:block;
    width: 100%;
    border:1px solid #ccc;
    font:inherit;
}
input:focus {
    background-color: #f0e6fd;
    outline: none;
    border-color: #3d008d;
}

/*validity...*/
.error {
    font-weight: 700;
    color: red;
}

div.form-control label.invalid_field {
    color: red;
    font-weight: 700;
}

div.form-control input.ng-invalid.ng-touched {
    border: 1px solid red;
}
