<app-shared-card>
    <div class="main-header">
       <h2>Your profile</h2>
    </div>
    <div class="sub-wrapper">
        <li class="sub-content">Your email address  <span> {{email}}</span></li>
    </div>
    <div class="sub-header">
        <h2>You registration as a freelancer</h2>
    </div>
    <li class="main-content">
        <app-freelancer-item
            [firstName]="freelancer.firstName"
            [lastName]="freelancer.lastName"
            [description]="freelancer.description"
            [hourlyRate]="freelancer.hourlyRate"
            [skills]="freelancer.skills"
            [i]="freelancer._id"
            [profileAction]="true"
        ></app-freelancer-item>
    </li>
</app-shared-card>
<app-shared-card>
    <router-outlet></router-outlet>
</app-shared-card>